<!--just open this file in your browser to see it in action-->
<div id='app'>
    <button v-on:click="seen1 = !seen1; seen2 = !seen2">Toggle</button>
    <transition name="fade">
        <p v-if='seen1'>{{message1}}</p>
    </transition>
    <transition name="fade">
        <p v-if='seen2'>{{message2}}</p>
    </transition>
</div>
<script src='https://unpkg.com/vue'></script>
<script>
    new Vue({
        el:'#app',
        data:{
            message1:'MESSAGE 1: You can see me.',
            message2:"MESSAGE 2: You couldn't see me, but now you do.",
            seen1:true,
            seen2:false
        }
    })
</script>
<link rel='stylesheet' href='fade-transition.css'>